.searchForm {
    width: 200px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
    padding: 2px 5px;
}
.searchForm img {
    width: 16px;

}

.searchForm input {
    font-style: 18px;
    width: 80%;
}

.postsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}